[submodule "libs/cpp-httplib"]
	path = libs/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "libs/openssl"]
	path = libs/openssl
	url = https://github.com/openssl/openssl.git
[submodule "libs/libgd"]
	path = libs/libgd
	url = https://github.com/libgd/libgd.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
